@media (max-width: 599px) {
    .desktop {
        display: none;
    }
    .phone {
        display: block;
    }
    .project {
        padding: 8px
    }
    .related-card {
        margin: 0 24px;
    }
    .related-card--main__image {
        width: 56px;
        height: 56px;
    }
    .carousel-item {
        min-width: 75% !important;
    }
}

@media (min-width: 600px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none
    }
    .project {
        padding: 16px;
    }
    .related-card--main {
        display: flex
    }
    .related-card--main__image {
        min-width: 56px;
        min-height: 56px;
    }
    .carousel-item {
        min-width: 33% !important;
    }
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/manrope-semibold.woff") format("woff");
    font-style: normal;
    font-weight: 700; 
}

:root {
    --mdc-theme-primary: #1a73e8;
    --mdc-theme-secondary: #FFF;
    --mdc-theme-on-secondary: var(--mdc-theme-primary)
}
body {
    margin: 0px;
}
a {
    color: inherit;
    text-transform: none;
    text-decoration: none;
}
.section--header {
    text-align: center;
    font-family: 'Manrope'
}
.main {
    max-width: 1240px;
    margin: 0 auto;
}
/*HERO*/
.hero {
    text-align: center;
}
.hero h1 {
    letter-spacing: 1px;
    font-weight: 500
}

/*PROJECTS*/
.mdc-layout-grid__cell:not(.carousel-item) {
    height: 40vh
}
.project {
    margin: auto 0;
    height: auto
}
.project * {
    text-align: center;
}
.project--image::before {
    content: '';
    padding-top: 100%;
    width: 48px
}
.project--image {
    width: 48px;
    height: 48px;
    margin: 0 calc((100% - 48px) / 2);
    background-position: center;
    background-size: cover;
}
.project--header {
    padding: 16px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .0275rem;
    font-family: 'Manrope'
}
.project--description {
    line-height: 1.5rem;
    font-size: 1.125rem;
    color: #666666;
    padding: 0 0 16px;
    width: 80%;
    margin: 0 auto
}
.project--suggestions__text {
    font-size: 14px;
}
.project--suggestions__chips {
    display: inline;
}
.project--suggestions__chips .mdc-button{
    margin: 4px 4px;
}
.related-card {
    padding: 16px;
    width: auto;
    border-radius: 4px;
}
.related-card--main__image {
    margin: auto 16px auto 0;
    background-size: cover;
    background-position: center; 
}
.related-card--url {
    color: #666666;
    padding: 12px 0 0;
}
.related-card--url i {
    vertical-align: middle;
    padding-right: 8px;
}

/*CAROUSEL - TEMP*/
.carousel {
    overflow-x: hidden;
    overflow-y: visible;
}
.carousel {
    padding: 16px 0;
}
.carousel-outer {
    overflow: hidden;
}
.carousel .mdc-layout-grid__inner {
    transition: transform .5s cubic-bezier(.4,0,.2,1);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: visible;
    align-items: flex-start;
    flex-flow: row;
}

.carousel-control {
    padding: 16px 16px;
    display: inline-block;
    width: calc(100% - 32px);
}
.carousel-control--left {
    float: left;
    margin: 0 32px
}
.carousel-control--right {
    float: right;
    margin: 0 32px
}

/*TEAM*/
.team-member {
    margin: 8px 16px;
    border-radius: 8px;
}

.spec-card {
    height: 120px;
    color: #fafafa
}

.spec-card::before::hover {
    opacity: .3;
}
.team-wrapper {
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0, .15), rgba(0,0,0, .54))
}
.spec-card * {
    z-index: 99
}
.team-image, .spec-card {
    background-image: url(../assets/images/test.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.team-image::before {
    width: 100%;
    padding-top: 100%;
    display: block;
    content: ''
}
.team-header {
    padding: 16px;
}
.team-header .mdc-typography--body1 {
    font-family: 'Roboto Mono'
}
.team-content {
    padding: 0 16px 16px;
}