/*RULES*/
@media (max-width: 599px) {
    .phone {
        visibility: visible
    }
    .desktop {
        visibility: hidden
    }
    .about-content {
        font-size: 8vw;
        padding: 0 3vw 64px;
    }
    .footer-inner {
        padding: 32px 1.5vw 32px;
    }
    .mdc-tab {
        height: 56px;
    }
}

@media (min-width: 600px) {
    .phone {
        visibility: hidden
    }
    .desktop {
        visibility: visible
    }
    .about-content {
        font-size: 4vw;
        padding: 0 12.5vw 64px;
    }
    .footer-inner {
        padding: 32px 5vw 32px;
    }
    .mdc-tab {
        height: 64px;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden
}

body {
    font-family: 'Roboto';
    --mdc-theme-primary: #FFFFFF;
    --mdc-theme-on-primary: #000000;
}

.mdc-top-app-bar {
    color: #000000;
}

header .mdc-button {
    --mdc-theme-primary: #344955;
}

.mdc-top-app-bar__section--align-end button {
    margin-left: 8px;
    margin-right: 8px;
}

.mdc-top-app-bar__title {
    font-family: 'Roboto Mono';
    color: #000;
}

.mdc-top-app-bar .active {
    --mdc-theme-primary: var(--mdc-theme-secondary)
}

.hero {
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bg.jpg);
    background-attachment: fixed;
}

.hero .container {
    padding: 20vh 15vw 0;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
    color: #EEEEEE;
}

.hero.container .title, .desc {
    background: rgba(0, 0, 0, 0);
}

.hero .desc {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

.hero .title {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto Mono';
}

.hero .links {
    padding-top: 28px;
}

.hero .links .mdc-button {
    margin: 8px 8px;
}
/*PROJECTS*/
.section {
    padding: 0px 2.5vw 32px;
}

.section-header {
    font-family: 'Roboto Mono';
    font-weight: 300;
    text-align: center;
    padding: 96px 32px 48px;
}

.projects .mdc-layout-grid__inner {
    padding: 0 2.5vw;
}

.project-item {
    padding : 32px;
    height: auto;
    margin: 0 16px;
    box-sizing: border-box;
    border-radius: 4px;
}

.project-image::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.67%;
}

.project-item:hover {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)
}

.project-image {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/test.png);
}

.project-item a {
    text-transform: none;
    text-decoration: none;
    color: #424242;
    border-radius: 8px;
}

.project-content {
    margin-top: 24px;
}

.project-heading {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: .75px;
}

.project-desc {
    margin-top: 8px;
    font-size: 14px;
}

.project-tag {
    font-size: .875rem;
    font-family: 'Roboto Mono';
    margin-top: 16px;
    font-weight: 400;
}

.project-tag i {
    margin-right: 8px;
    vertical-align: middle;
}
/*About*/
.about-content {
    text-align: center;
    font-weight: 300;
}

.about-special-selected {
    background-color: #4885ed;
    color: #ffffff;
}

/*TEAM*/
.team .mdc-layout-grid__inner {
    align-content: center
}

.team .mdc-layout-grid__cell {
    margin: 16px;
}

.mdc-card {
    height: auto;
    --mdc-theme-primary: var(--mdc-theme-secondary);
    text-transform: none;
    text-decoration: none;
}

.card-primary {
    padding: 16px;
}

.card-primary h2 {
    font-family: 'Roboto Mono';
    color: #000
}

.card-primary h3 {
    color: rgba(0, 0, 0, .54)
}

.card-secondary {
    padding: 0 16px 16px;
    color: rgba(0, 0, 0, .54)
}

.mdc-card .tag {
    padding: 0 16px 16px;
    font-family: 'Roboto Mono';
    font-size: .875rem;
    font-weight: 400;
    color: rgb(66, 66, 66);
}

.mdc-card .tag i {
    vertical-align: middle;
    margin-right: 8px;
}

/*FOOTER*/
.footer .container {
    padding: 32px 5vw 16px;
}

.footer hr {
    color: #eeeeee;
}

.footer h2 {
    font-family: 'Roboto Mono';
    color: #757575;
    font-size: 18px;
    margin-bottom: 8px
}

.footer h2::after {
    content: '\AC'
}

.footer ul {
    list-style-type: none;
    align-items: center;
    display: flex;
}

.footer li {
    font-size: .875rem;
    font-family: 'Roboto Mono'
}

.footer li::after {
    content: '/';
    margin: 0 8px;
}

.footer li:nth-child(4)::after {
    content: ''
}

.footer ul a {
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.invisible {
    visibility: hidden;
}

.mdc-tab-bar {
    --mdc-theme-primary: #4885ed;
    width: inherit
}

.mdc-tab {
    font-family: 'Roboto Mono';
    font-weight: 700;
}

.mdc-tab-bar button {
    margin: 0px;
}

.mdc-top-app-bar__section--align-end {
    padding: 0px 12px;
}