/*RULES*/
@media (max-width: 479px) {
    .phone {
        visibility: visible
    }
    .desktop {
        visibility: hidden
    }
    .mdc-layout-grid__inner {
        align-items: center;
    }
}

@media (min-width: 480px) {
    .phone {
        visibility: hidden
    }
    .desktop {
        visibility: visible
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden
}

body {
    font-family: 'Roboto';
}

.theme-primary {
    --mdc-theme-primary: #FFFFFF;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-secondary: #4885ed;
    --mdc-theme-on-secondary: #616161;
}

.theme-secondary {
    --mdc-theme-primary: #FFFFFF;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-secondary: #f44336;
    --mdc-theme-on-secondary: #EEEEEE;
}

.mdc-top-app-bar {
    color: var(--mdc-theme-on-primary);
}

header .mdc-button {
    --mdc-theme-primary: var(--mdc-theme-on-primary);
}

.mdc-top-app-bar__section--align-end button {
    margin-left: 8px;
    margin-right: 8px;
}

.mdc-top-app-bar__title {
    font-family: 'Roboto Mono';
}

.mdc-top-app-bar .active {
    --mdc-theme-primary: var(--mdc-theme-secondary)
}

.hero .container {
    padding: 20vh 15vw 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bg.jpg);
    background-attachment: fixed;
    color: #EEEEEE;
}

.hero .desc {
    font-size: 18px;
    letter-spacing: 1px;
}

.hero .title {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto Mono';
}

.hero .links {
    padding-top: 24px;
}

.hero .links .mdc-button {
    margin: 16px 8px;
}
/*
.product-container {
    margin: 16px;
    padding: 16px
}

.product-container a {
    display: inline;
    padding: 16px;
}

.product-container a img {
    width: 2.5rem;
    height: 2.5rem
}

.product-container a:hover::before {
    opacity: 0;
}
*/

/*PROJECTS*/
.projects {
    padding: 80px 2.5vw 0px;
}

.projects h1 {
    font-family: 'Roboto Mono';
    font-weight: 300;
}

.mdc-layout-grid__inner {
    padding: 0 2.5vw;
}

.project-item {
    padding : 32px;
    height: auto;
    margin: 0 16px;
    box-sizing: border-box;
    border-radius: 4px;
}

.project-image::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.67%;
}

.project-item:hover {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)
}

.project-image {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/test.png);
    
}

.project-item a {
    text-transform: none;
    text-decoration: none;
    color: #424242;
    border-radius: 8px;
}

.project-content {
    margin-top: 24px;
}

.project-heading {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: .75px;
}

.project-desc {
    margin-top: 8px;
    font-size: 14px;
}

.project-tag {
    font-size: .875rem;
    font-family: 'Roboto Mono';
    margin-top: 16px;
    font-weight: 400;
}

.project-tag i {
    margin-right: 8px;
    vertical-align: middle;
}
/*
.mdc-ripple-upgraded--background-focused {
    opacity: 0;
}
*/
.about {
    padding: 16px;
    height: 100vh
}